{% extends 'admin/backend_layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/editGoal.js') }}"></script>
{% endblock %}

{% block body %}
    <div class = "mt-15">
        <table class="table m-auto goalsList" >
            <!-- Table header -->
            <thead>
                <tr class="text-color-grey text-center">
                    <th>Category</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Completed_at</th>
                    
                </tr>
            </thead>
            <!-- Table body -->
            <tbody id="goals-table" data-total-items="{{ totalGoals }}" data-user-id="{{ user.id }}">
                {% for goal in goals %}
                    {% include 'goals/list-items.html.twig' %}
                {% else %}
                    <tr class="no-results-row">
                        <td colspan="5" class="no-records text-center text-color-grey">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}